<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2 class="text-center">Welcome to profile page</h2>
        <form action="/logout" method="post">
            <button class="btn btn-link">Logout</button>
        </form>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita laudantium eos dolorum iure debitis sed
            quod ducimus optio minus, placeat labore cum pariatur blanditiis voluptates. Cupiditate corrupti numquam
            vero veniam.
            Iste earum dolores totam repellendus? Deleniti explicabo quaerat et facilis. Possimus ex aut dolor quo
            dolore vero, ipsa ullam. Voluptate, deserunt eaque. Dolore, nihil labore? Eaque quis molestiae tempora
            repellendus?
            Soluta doloremque quaerat aut eum eius. Tempora nostrum, accusamus modi excepturi consequatur, autem
            aspernatur dolor, ipsum quis unde pariatur id tenetur quod at eum minima deleniti. A vel minima quo?
            Aliquam placeat quasi at quisquam velit, animi necessitatibus dolor maiores, quas vitae dolorem labore?
            Quod, porro minima aut deserunt maxime vero, nam atque alias voluptates minus reprehenderit officia
            inventore dignissimos.
            Tempora laudantium sint dolorem quaerat nam? Praesentium obcaecati enim quo ipsa adipisci deleniti aliquid
            quisquam voluptates molestiae provident voluptate error, ab sed officia similique est quia eius incidunt
            molestias. Ratione!
            Harum quis beatae cupiditate tempore obcaecati tempora doloremque eaque commodi vitae provident. Quibusdam
            at exercitationem earum odio, beatae laborum neque sequi consequuntur doloremque dolor temporibus magni
            atque explicabo numquam aut?
            Beatae asperiores esse, deleniti delectus quasi ipsum neque nobis accusantium, iste magni reiciendis.
            Placeat odio incidunt molestias nam debitis culpa facere harum rem modi repellendus, assumenda aperiam.
            Molestias, iure iusto!
            Consequatur animi delectus accusamus quod eveniet sit? Libero soluta minus possimus laboriosam sit fugit
            beatae sunt voluptatum commodi iste magnam doloremque esse, amet iusto tenetur blanditiis ad laborum atque
            itaque!
            Earum perspiciatis provident hic consequuntur sit dolores nulla ipsum minima! In ab quia eligendi deleniti
            officia, optio ipsa labore alias dignissimos ullam fugit a modi accusantium? Vero dolorum fugiat ducimus?
            Laboriosam suscipit molestias voluptatum quia eligendi iste provident fugiat dolorum, aspernatur id nemo
            quam recusandae? Dolore facilis consequatur eveniet ea perspiciatis quia eaque autem, eum soluta. Blanditiis
            molestiae soluta eum.
            Perspiciatis eius odio consectetur asperiores labore adipisci suscipit vel nihil iusto, excepturi fugiat
            animi, dignissimos ab natus at! Aut, vel provident. Consequatur quo, dolore iure eum eveniet similique
            distinctio architecto?
            Omnis, quasi? Doloribus laborum velit ea, dolorem rerum aut obcaecati, eum rem enim accusamus pariatur
            perspiciatis. Earum, similique suscipit sit nulla enim vel sint qui provident doloribus culpa facere ab.
            Est quis accusantium saepe ratione iste? Repellendus impedit aspernatur laborum, quisquam minima aperiam
            porro doloribus deserunt molestiae quas perspiciatis cumque soluta natus. Aperiam laborum possimus iste
            architecto adipisci consequuntur voluptate.
            Minus reprehenderit explicabo tenetur cupiditate. Veniam facilis reiciendis odio, ab animi sed magni tempora
            tempore harum sequi recusandae molestiae ipsum optio mollitia necessitatibus consequatur officia quis
            repudiandae voluptatibus dignissimos soluta?
            Quam consequatur iusto ratione quidem. Commodi delectus at aut architecto totam incidunt accusantium?
            Delectus hic consequatur explicabo, culpa praesentium aliquid, obcaecati enim voluptatum at perferendis
            rerum? Reiciendis error eum doloribus.</p>
    </div>

</body>

</html>